* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.titilos{
    text-align: center; color: white; font-family: 'MuseoModerno', cursive;
}
.h1{
  text-align: center;
  font-size: 36px;
  text-shadow: 2px 2px 0 #555, 4px 4px 0 #666, 6px 6px 0 #777, 8px 8px 0 #888, 10px 10px 0 #999;
  color:white; /*color rojo para un efecto de sangre*/
}
.mi-clase {
  text-align: center; color: white; font-family: 'MuseoModerno', cursive;
}
body {
  background-image: url("img/fondo.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.img{
  display: block;
  margin: auto;
  padding: 5px; 
}
.input {
  display: block;
  margin: auto;
}
.tabla {
  width: 250px;
  background: #141d25;
  padding: 30px;
  margin: auto;
  margin-top: 20px;
  margin-block: 20px;
  border-radius: 1px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000000;
}
.recibirtabla {
  width: 250px;
  background: #f2f6fa;
  padding: 30px;
  margin: auto;
  margin-top: 20px;
  margin-block: 20px;
  border-radius: 1px;
  font-family: 'calibri';
  color: rgb(0, 0, 0);
  box-shadow: 7px 13px 37px #000000;
}

